<ion-view cache-view="false" view-title="Sunday School Lessons 2018" name="dashboard-view">

	<div class="bar bar-subheader">
		<h2 class="title">Sub Header</h2>
	</div>
	<!--<ion-pane  style="background-color: #1A84B0">-->
	<ion-pane  style="background-color: #FFF">
		<ion-content scroll="true" ng-class="fontSize">
			<section>
				<div class="row">
					<div class="col text-center ui-gradient-deepblue padding">
						<span ng-if="weekNumber>1"><button ng-click="previous()" class="button button-calm ion-ios-rewind"></button></span>
						<button class="button button-light"><!--{{newDate|date:"MMMM dd, yyyy"}}--> Week {{weekNumber}}</button>
						<span ng-if="weekNumber<52"><button ng-click="next()" class="button  button-calm ion-ios-fastforward"> </button></span>
					</div>
				</div>


				<div class="row col padding">
					<!--<h4 style="text-transform: capitalize; text-align: center">{{newDate|date:"EEEE dd, MMMM"}}</h4>-->
					<!--<h4 style="text-transform: capitalize; text-align: center">Week {{weekNumber}}</h4>-->
					<h4 style="text-transform: capitalize; text-align: center">{{current.title}}</h4>
					<p style=" line-height:25px; padding: 5px 15px 5px 15px;" ng-bind-html="current.message"></p>
				</div>
				<!--<div class="row">
					<div class="col text-center card calm-bg">
						<a ng-click="openModal()" class="item ">
							<h2><span class="dark">Week {{weekNumber}} Lessson </span></h2>
							<p><span class="dark" style="text-transform: capitalize; font-weight: bold; font-size: 18px;">{{current.title}}</span></p>
						</a>
					</div>
				</div>-->

				<!--<div class="row">
					<div class="col padding text-center">
						<div class="list">
							<div class="item item-icon-left" ion-datetime-picker date ng-model="row.appDate" style="background-color:rgba(56,142,173,0.22)">
								<i class="icon ion-ios-calendar positive"></i>
								Glossary:
								<strong>{{row.appDate|date:"MMMM dd, yyyy"}}</strong>
							</div>
						</div>
					</div>
				</div>
				<div ng-if="row.appDate" class="row">
					<div class="col padding text-center">
						<a class="button ion-search button-calm" href="#/app/dashboard/{{row.appDate| date: 'yyyy-MM-dd'}}"> Preview </a>
					</div>
				</div>-->

				</div>
			</section>
		</ion-content>

		<script id = "popover.html" type = "text/ng-template">
			<ion-popover-view>
				<ion-header-bar>
					<h1 class = "title">Glossary</h1>
				</ion-header-bar>
				<ion-content>
					<div class="row">
						<div class="col padding text-center">
							<button class=" button icon ion-ios-calendar button-assertive" ion-datetime-picker date ng-model="row.appDate"> Pick Date</button>
						</div>
					</div>
					<div class="row">
						<div class="col padding text-center">
							<strong>{{row.appDate|date:"MMMM dd, yyyy"}}</strong>
						</div>
					</div>
					<div ng-if="row.appDate" class="row">
						<div class="col padding text-center">
							<a class="button ion-search button-calm" href="#/app/dashboard/{{row.appDate| date: 'yyyy-MM-dd'}}"> Preview </a>
						</div>
					</div>
				</ion-content>

			</ion-popover-view>
		</script>


		<div class="bar bar-footer">
			<!--<button class = "button icon ion-ios-calendar-outline" ng-click="openPopover($event)"></button>
			<button class="button icon ion-minus-round" ng-click="decrease()"></button>
			<button class="button icon ion-plus-round" ng-click="increase()"></button>-->
			<div class="tabs tabs-icon-only">
				<a class="tab-item">
					<i class="icon ion-home"></i>
				</a>
				<a class="tab-item">
					<i class="icon ion-star"></i>
				</a>
				<a class="tab-item">
					<i class="icon ion-gear-a"></i>
				</a>
			</div>
		</div>

		<!--Modal-->
		<script id="templates/modal.html" type="text/ng-template">
			<ion-modal-view>

				<ion-header-bar class="bar-calm fix-buttons">
					<a class="button" ng-click="closeModal()"><i class="icon ion-ios-undo"></i> Back</a>
					<h1 class="title" style="text-transform: capitalize;">Sunday School Lessons 2018</h1>
				</ion-header-bar>

				<ion-content has-bouncing="true" ng-class="fontSize">
					<div class="row">
						<div class="col text-center ui-gradient-deepblue padding">
							<span ng-if="weekNumber>1"><button ng-click="previous()" class="button button-calm ion ion-ios-rewind"></button></span>
							<button class="button button-light">Week {{weekNumber}}</button>
							<span ng-if="weekNumber<52"><button ng-click="next()" class="button  button-calm ion ion-ios-fastforward"> </button></span>
						</div>
					</div>
					<div class="row col padding">
						<!--<h4 style="text-transform: capitalize; text-align: center">{{newDate|date:"EEEE dd, MMMM"}}</h4>-->
						<!--<h4 style="text-transform: capitalize; text-align: center">Week {{weekNumber}}</h4>-->
						<h4 style="text-transform: capitalize; text-align: center">{{current.title}}</h4>
						<p style=" line-height:25px; padding: 5px 15px 5px 15px;" ng-bind-html="current.message"></p>
					</div>
				</ion-content>

				<ion-footer-bar class="bar bar-calm">
					<button class="button icon ion-minus-round" ng-click="decrease()"></button>
					<button class="button icon ion-plus-round" ng-click="increase()"></button>
				</ion-footer-bar>

			</ion-modal-view>
		</script>


	</ion-pane>
</ion-view>