<ion-view cache-view="true" view-title="iWitness View" name="dashboard-details">

    <ion-pane  style="background-color: #FFFFFF">

        <ion-content scroll="true">
       <!-- <ion-content padding overflow-scroll="true">-->

            <ion-refresher pulling-icon="ion-arrow-down-b" on-refresh="PullRefresher(row.post_id)">
            </ion-refresher>

            <div class="col no-padding" style="margin: -20px 0; padding:0;">
                <img class="full-image" src="{{surl}}{{row.witness_file}}">
            </div>

                <div class="card">
                    <h4 class="padding">{{row.post_title}}</h4>
                    <div ng-if="vlink" class="video-container">
                        <iframe src="{{vlink|validUrl}}" frameborder="0" width="100%" height="315" allowfullscreen></iframe>
                    </div>
                    <video ng-if="fileExt=='mp4'" controls="controls" preload="metadata" autoplay="autoplay" webkit-playsinline="webkit-playsinline" class="videoPlayer" width="100%" height="315">
                        <source src="{{fileSource|validUrl}}" type="video/mp4">
                    </video>
                    <div class="item item-text-wrap">
                        <p ng-if="row.post_date"><a href="#" class="subdued" style="font-size: 12px;"> <i class="icon ion-clock"></i> {{row.post_date|timeAgo}}</a></p>
                        <p ng-bind-html="row.post_description" ng-class="fontSize"></p>
                    </div>
                </div>


            <section>
                <div class="col padding-bottom">
                    <!--<button class="button" ng-click="shareAnywhere()">Share anywhere</button>-->
                </div>
            </section>
        </ion-content>

        <ion-footer-bar class="bar bar-balanced">
            <div class="col text-center">
                <a class="light" style="font-size: 16px;" href="#/app/advert/{{advert.post_id}}">
                    <p>{{advert.post_title}}</p>
                </a>
            </div>
        </ion-footer-bar>

    </ion-pane>
</ion-view>