<form name="HTSSignup">
    <ion-view view-title="iWitness Report">
        <ion-content class="padding">

            <div class="row responsive-sm padding remvoeBP">
                <div class="col">

                    <div class="list">
                        <input type="hidden" ng-model="data.post_type" name="post_type" >
                        <input type="hidden" ng-model="data.post_status" name="post_status" >
                        <input type="hidden" ng-model="data.post_image" name="post_image">
                        <!--<input type="hidden" ng-model="data.witness_file" name="witness_file">-->

                        <h2>Step 2: Please complete the following:</h2>
                        <label class="item item-input item-stacked-label">
                            <span class="input-label">Title</span>
                            <input type="text" ng-model="data.post_title" name="post_title" placeholder="Enter Title" required>
                        </label>

                        <label class="item item-input item-stacked-label">
                            <span class="input-label">Description</span>
                            <textarea ng-model="data.post_description" name="post_description" placeholder="Description"></textarea>
                        </label>
                    </div>

                    <div class="loginButton"><button class="button ion-person button-block button-calm" ng-click="iWitnessForm()"> Submit </button>  </div>
                </div>
            </div>

        </ion-content>
    </ion-view>
</form>
