
<ion-view cache-view="true" view-title="iWitness Upload" name="videoiwitnessp-view">
    <ion-pane  style="background-color: #FFFFFF">
        <ion-content>
            <h4 class="padding padding-top text-center">Please click on the select video button below to upload only mp4 video not greater than 10MB</h4>
        </ion-content>
        <ion-footer-bar class="bar bar-positive">
            <div class="button-bar">
                <!--<button class="button icon-left ion-camera" onclick="uploadVideo();">Video</button>-->
                <button class="button icon-left ion-ios-videocam" ng-click="openVideoLibrary()">Select Video</button>
                <!--<button class="button icon-left ion-upload" ng-click="uploadImage()" ng-disabled="image === null">Upload</button>-->
            </div>
        </ion-footer-bar>
    </ion-pane>
</ion-view>
